@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* fonts */
  --main-font: "Fraunces", serif;
  --secondary-font: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 10px;
}
body {
  background-color: var(--Cream);
  font-family: var(--main-font);
  display: grid;
  place-items: center;
}

article {
  max-width: 343px;
  /* max-height: 611px; */
  margin: 1.6rem 2.8rem;
  background-color: var(--White);
  border-radius: 1rem;
  overflow: hidden;
}

article .img-box {
  background-image: url(./images/image-product-mobile.jpg);
  height: 240px;
  background-size: cover;
}

.text-box {
  padding: 2.4rem;
}

article .head {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
}

article h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--Very-dark-blue);
  margin-bottom: 1.6rem;
}

.discreption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--Dark-grayish-blue);
  margin-bottom: 2.4rem;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.9rem;
}

.price p:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--Dark-cyan);
}

.price p:last-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-decoration-line: line-through;
  color: var(--Dark-grayish-blue);
}

.card {
  background-color: var(--Dark-cyan);
  border-radius: 0.8rem;
}

.card a {
  display: inline-block;
  color: var(--White);
  gap: 1.161rem;
  text-align: center;
  font-family: "Montserrat";
  line-height: 1.7rem;
  /* height: 4.8rem; */
  padding: 1.5rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  margin-right: 10.161rem;
  transition: all 0.3s;
}

.card a:hover {
  background-color: #1a4032;
}
.card a::before {
  content: "";
  background-image: url(./images/icon-cart.svg);
  height: 1.6rem;
  width: 1.439rem;
  display: inline-block;
  margin-right: 1.161rem;
}

@media (min-width: 668px) {
  article {
    max-width: 600px;
    height: 450px;
    margin: 1.6rem 2.8rem;
    background-color: var(--White);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article .img-box {
    background-image: url(./images/image-product-desktop.jpg);
    height: 450px;

    background-size: cover;
  }

  article .text-box {
    padding: 3.2rem;
  }

  article .head {
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 2.4rem;
  }

  .discreption {
    margin-bottom: 2.9rem;
  }

  .price {
    margin-bottom: 3rem;
  }
}
